!!! 5
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Analytic Board

    //- Check out 'src/bower_components/prism/themes/' for available themes
    link(rel='stylesheet', type='text/css', href='bower_components/prism/themes/prism-tomorrow.css')

    link(rel='stylesheet', type='text/css', href='styles/main.css')

body
  article
    section.white
      h1 UX 101
      div
        img(src="img/ux-medellin.jpeg")
    section.white
      div
        img(src="img/diana-blandon.jpeg",width="40%")
      h1 Diana Blandón
      h1 UX Designer
      h2 @dibland
    section.gray
      div
        img(src="img/analytic-board-logo.png")
      h1 Jaime Andrés García
      h2 Data Visualization Developer
      h2 @analyticboard
      h2 @sw_advisor
    section.green
      h1 ¿ Qué es UX?
      h2 Involucra los comportamientos, actitudes y emociones de una persona respecto al uso de un producto, sistema o servicio (Wikipedia, 2015)
      h1 ... Pero más que eso es como crear un nuevo lenguaje ...
    section.white
      h2 Cambio de Sexo en el Lenguaje de Frutas y Flores
      img(src="img/sex-change.jpg",width="80%")
    section.red
      h1 ¿Por qué necesitamos personas que trabajen en UX?
    section.white
      h1 Malas Experiencias de Usuario
      img(src="img/pushpulldoors.jpg")
    section.white
      h1 ¿Qué Switch hace qué?
      img(src="img/switches.jpg")
    section.white
      h1 Aceptar a la izquierda o la derecha
      img(src="img/certificiado-pos.png")
    section.white
      h1 Tortas!
      img(src="img/pie-chart.jpg")
    section.white
      h1 Adivina ¿Quién es?
      a(href="http://criticalpathproject.com/",target="_blank")
        img(src="img/critical-path.png",width="80%")
    section.white
      h1 Aprendamos sobre Jarras
      a(href="http://dh.ncl.ac.uk/Identefact/Greek%20Pots/album/slide.html",target="_blank")
        img(src="img/jars-website.png",width="100%")
    section.blue
      h1 ¿Qué tipo de trabajos existen en el campo de UX? (Fuente: onwardsearch.com)
    section.blue
      h1 User Researcher
      h2 - Estudia el comportamiento del usuario
      h2 - Participa en todas las etapas del proceso
      h2 - Realiza análisis de usuarios y tareas
      h2 - Sintetiza los hallazgos de las investigaciones
    section.blue
      h1 Usability Analyst
      h2 - Identifica problemas de usabilidad
      h2 - Evaluación y Testeo
      h2 - Comunica acciones para mejorar la experiencia del usuario
    section.blue
      h1 Information Architect
      h2 - Determinan como la información debe ser organizada y presentada a los usuarios
      h2 - Crear wireframes, diagramas de procesos, especificaciones y prototipos
      h2 - Aplicar User Personas y Escenarios para entender procesos y comportamientos
    section.blue
      h1 Interaction Designer
      h2 - Establece conceptos de interacción
      h2 - Creación de prototipos rápidos para ilustrar la aplicación
      h2 - Copera con el diseñador visual para crear el diseño de la solución
    section.blue
      h1 Visual Designer
      h2 - Convierte los wireframes y prototipos en diseño visuales
      h2 - Sus diseños son amigables con el usuario y coherentes con la marca
      h2 - Realiza diseños que atraen, son usables y efectivos
      h2 - Valida la efectivida del diseño
    section.blue
      h1 Ux Designer
      h2 - Realiza todos los procesos mencionados arriba
      h2 - Enfoque colombiano
    section.green
      h1 Algunos esfuerzos en Colombia relacionados con la UX
    section.white
      h1 Usarte.co
      img(src="img/usarte.jpg",width="100%")
    section.white
      h1 Día de la Usabilidad
      img(src="img/wudco.png",width="100%")
    section.white
      h1 Ux Medellín
      img(src="img/ux-medellin.jpeg")
    section.thanks
      .tint
        h1 Muchas gracias


  script(src='bower_components/bespoke.js/dist/bespoke.min.js')
  script(src='bower_components/bespoke-bullets/dist/bespoke-bullets.min.js')
  script(src='bower_components/bespoke-scale/dist/bespoke-scale.min.js')
  script(src='bower_components/bespoke-hash/dist/bespoke-hash.min.js')
  script(src='bower_components/bespoke-progress/dist/bespoke-progress.min.js')
  script(src='bower_components/bespoke-state/dist/bespoke-state.min.js')
  script(src='bower_components/bespoke-forms/dist/bespoke-forms.min.js')
  script(src='bower_components/prism/prism.js')
  script(src='scripts/main.js')

